body {
	margin: 0;
	padding: 0;
	font-family: 'Signika Negative', sans-serif;;
}

.movie-map {
	width: 100%;
	margin: 0;
	padding: 0;
}

.search-form {
	position: absolute;
	top: 20px;
	left: 80px;
	width: 300px;
	z-index:1;
}

.input-group {
	box-shadow: 5px 5px 5px #666;
	background: #FFF;
	padding: 10px;
	z-index: 2;
}

.results {
	position: relative;
}

.ui-helper-hidden-accessible {
	display: none;
}

ul {
	-webkit-padding-start: 0px;
	position: absolute !important;
	top: -5px !important;
	width: 80% !important;
	background: #FFF;
	margin: 5px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index:1;
	box-shadow: 5px 5px 5px #666;
}

a {
	text-decoration: none;
	display: block;
	padding: 5px;
}

a:hover {
	text-decoration: none;	
	color: #FFF;
}

li:hover {
	background: #f23f3f;
	color: #FFF;
}

.ui-menu-item {
	list-style-type: none;
	
}

body .ui-autocomplete .ui-menu-item .ui-state-focus {
    background: #f23f3f;
	color: #FFF;
}

.search {
	background: #FFF;
	margin-top: 10px;
	box-shadow: 5px 5px 5px #666;
}