body {
	margin: 0;
	padding: 0;
}

.movie-map {
	width: 100%;
	margin: 0;
	padding: 0;
}

.search-form {
	position: absolute;
	top: 20px;
	left: 80px;
	padding: 10px;
	background: #FFF;
	width: 300px;
	z-index:1;
}

.ui-helper-hidden-accessible {
	display: none;
}

input {
	margin-bottom: 10px;
}

ul {
	width: 100% !important;
	position: inherit !important;
	-webkit-padding-start: 0px;
	margin: 5px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-menu-item {
	list-style-type: none;
	margin: 5px;
}